body
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#Título
{
    font-size: 60px;
    margin-left: 300px;
    margin-right: 300px;
}

#AutorEData
{
    margin-left: 20px;
}

#Lide
{
    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px;
}

#CorpoDoTexto
{
    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px; 
}

#imi
{
    width: 400px;
}

#Subtítulo
{
    margin-left: 150px;
    margin-right: 150px;
    color:gray;
}

#porsche
{
    width: 500px;
}























































































